* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid white 2px;
}
h2 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  margin-top: 0 !important;
  font-size: 2rem;
  color: #3b4a51;
}
h3 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  font-size: 1.7rem;
  margin-bottom: 0;
  margin-top: 0;
}
.container {
  margin: 0 auto;
  padding: 3rem;
  background-color: none;
  border-radius: 1rem;
}
p {
  margin-bottom: 0;
}
/* Hero Section */
.hero-section {
  position: relative;
  background-color: #3408fc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.hero-section > * {
  position: relative;
  z-index: 2;
}
/* TAREAS */
.introTag {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.contenedor-tarea {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-tarea-realizada {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.contenedor-eliminar-tarea {
  display: flex;
  align-items: center;
}
#btn-delete {
  border: none;
  background-color: #e3bcc0;
}
.boton {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: #bfe5e6;
  border: none;
  font-size: 0.8rem;
  color: #3407fc;
}
.boton-realizada {
  display: flex;
  align-items: center;
  gap: 1rem; /* Máximo 1rem de separación entre ✔ y "Realizada" */
}
.realizada {
  background-color: #3407fc !important;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.texto-realizado {
  color: #3407fc;
}
.btn-dark {
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem;
  background-color: #0dcaf0;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  width: 100%;
}
.btn-dark:hover {
  background-color: #ab09a8;
  font-weight: 500;
}
.nuevaTareaBlock {
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto;
  width: 100%;
  gap: 1rem;
}
#nuevaTarea {
  border-radius: 0.75rem;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  font-size: 1rem;
  width: 100%;
  border: none;
  color: #3407fc;
  margin-bottom: 1rem;
}
input::placeholder {
  color: #3407fc;
}
#listaTareas {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-wrap: nowrap;
}
#resumen {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 2rem;
}
#resumen h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Montserrat', sans-serif !important;
}
.resumenTotal {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
}
.resumenTotal p {
  font-size: 1.2rem;
}

li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #3407fc;
}
li span {
  font-size: 1.1rem;
}

ul {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.75rem;
  color: #3407fc;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 520px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .contenedor-tarea {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .contenedor-tarea-realizada {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .contenedor-eliminar-tarea {
    display: flex;
    align-items: center;
  }
  .nuevaTareaBlock {
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
    width: 100%;
    gap: 1rem;
  }
  #nuevaTarea {
    width: 58%;
    padding: 1rem 1.75rem;
    font-size: 1.1rem;
  }
  .btn-dark {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    width: auto;
  }
  ul {
    padding: 2rem 3rem;
  }
  li span {
    font-size: 1.3rem;
  }
  #resumen h3 {
    font-size: 1.3rem;
  }
  .resumenTotal p {
    font-size: 1.2rem;
  }
}
@media (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh !important;
  }
  #nuevaTarea {
    width: 75%;
  }
  ul {
    padding: 4rem;
  }
  li span {
    font-size: 1.5rem;
  }
  #resumen h3 {
    font-size: 1.5rem;
  }
  .resumenTotal p {
    font-size: 1.3rem;
  }
  .realizada,
  .boton {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  .hero-section {
    height: 80vh;
  }
}
