* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid white 2px;
}
h2 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  margin-top: 0 !important;
  font-size: 2rem;
  color: #3b4a51;
}
h3 {
  font-family: 'Abril Fatface', system-ui !important;
  line-height: 120%;
  font-size: 1.7rem;
  margin-bottom: 0;
  margin-top: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
a:hover {
  color: #3b4a51 !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3b4a51 !important;
}
a.disabled {
  color: #afaeaa !important;
}
a:active {
  color: #3b4a51 !important;
}
a.link-contacto {
  color: #3b4a51;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
}
a.link-contacto:hover {
  color: #242424 !important;
}
li {
  margin-bottom: 1rem;
}
ul {
  margin-top: 2rem;
}
header {
  background-color: #bcc3bf;
  color: white;
  padding: 1rem;
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 1rem;
}
.icon {
  color: #3b4a51;
  width: 20px;
  height: auto;
  margin-left: 5px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 0;
}
/* Hero Section */
.hero-section {
  position: relative;
  background-image: url('../imgs/banners/home-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.hero-section > * {
  position: relative;
  z-index: 2;
}
.hero-md {
  position: relative;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  padding: 4rem 1rem;
}
.hero-md::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.hero-md > * {
  position: relative;
  z-index: 2;
}
.hero-section span {
  text-align: left;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

/* TAREAS */
.realizada {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.texto-realizado {
  color: green;
}
.boton {
  margin-left: 1rem;
}
.contenedor-tarea {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor-tarea-realizada {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.contenedor-eliminar-tarea {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-left: #3b4a51 solid 2px;
}
.boton-realizada {
  display: flex;
  align-items: center;
  gap: 5px; /* Máximo 5px de separación entre ✔ y "Realizada" */
}
.btn-dark {
  border-radius: 0.2rem;
  padding: 0.75rem 1.5rem;
  background-color: #3b4a51;
  border: none;
  font-size: 1.2rem;
  margin-left: 0.75rem;
}
.btn-dark:hover {
  background-color: #242424;
  font-weight: 500;
}
#nuevaTarea {
  border-radius: 0.2rem;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  border: solid 3b4a51 2px;
  font-size: 1.2rem;
  width: 78%;
}
.nuevaTareaBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#listaTareas {
  display: flex;
  align-items: stretch;
  /* width: 200px; */
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-wrap: nowrap;
}
#resumen {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1rem;
}
.resumenTotal {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 520px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh;
  }
  .hero-md {
    height: 60vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh;
  }
  .hero-md {
    height: 60vh;
  }
}
@media (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 956px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh !important;
  }
  .hero-md {
    height: 80vh;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .intro-hero {
    font-size: 1.3rem;
  }
  .hero-section span {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  .hero-section {
    height: 100vh !important;
  }
  .hero-md {
    height: 80vh;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  .hero-section {
    height: 80vh;
  }
}
